@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-height {
    height: calc(100vh - 64px);
  }

  .min-height {
    min-height: calc(100vh - 64px);
  }

  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    height: 25vh;
    /* background-clip: content-box; */
  }
}
